
@media screen and (max-width: 1000px) and (min-width: 700px) {
  body {
    background-color: green;
    color: white;
  }   
}

@media screen and (max-width: 500px) {
  body {
    background-color: orange;
  }
}






p.intro {
  color: blue;
  text-align: center;
  background-color: greenyellow;
}

h2.intro {
  background-color: red;
}

img.intro {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


  
  
/* Mobile screens (roughly 300 - 480 pixels wide)
Medium and tablet screens (roughly 700 - 1000 pixels wide) */